.navigation{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242424;
    width: 100%;
    height: 100px;
    align-items: center;
}

.navigation h2{
    margin-right: 10px;
}

.nav-logo{
    height: 75px;
    width: 75px;
    margin: 15px;
}

.nav-links{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-links a{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.nav-links a:hover{
    background-color: #0056b3;
}

