.navigation {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1A1A1A;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  height: 50px;
  width: 50px;
  margin: 15px;
  filter: brightness(130%) contrast(120%);
}

.nav-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.nav-app-name {
  font-size: 1.3rem;
  margin-left: 10px;
}

.nav-links {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-links a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-right: 10px;
}

.nav-links a:hover {
  color: #ff36b2;
  transform: translateY(-2px);
}

@media (max-width: 1000px) {
  .nav-app-name {
    display: none;
  }
}

@media (max-width: 800px) {
  .nav-logo {
    height: 40px;
    width: 40px;
    margin: 10px;
  }

  .navigation {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-links a {
    padding: 0.4rem 0.8rem;
    margin-right: 5px;
    font-size: 0.9rem;
  }
}
