#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vertical-divider{
    height: 50%;
    width: 2px;
    background-color: gray;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
}